.pop{
    border:solid;
    border-color: #000000;
    background-color: #383B39;
    width:200px;
    height:300px;
}
.image{
   background-color: #6a6c6d;
    width: 100px;
    height:100px;
}
p{
    color:white;
}