.text{
    color:#ff8c00;
}
.button{
    background-color: #ff8c00;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    color:white;
    border: black solid 1px;
    font-family: Arial, sans-serif;
}

.button:hover
{
    background-color: black;
    border: solid white 1px;

}

.container{
    width:400px;
}
h1{
    color:#ff8c00;
}
body{
    background-image: url("png/funko-background.jpg");
    background-size: cover;
}
.homepage{
    background-color: #ff8c00;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 0 auto 50px;
    color:white;
    border: black solid 1px;
    font-family: Arial, sans-serif;
}