.text{
    color:#9d5702;
}
.button{
    background-color: #9d5702;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    
    color:white;
    border: black solid 1px;
    font-family: Arial, sans-serif;
}
.container{
    width:400px;
}
h1{
    color:#9d5702;
}
body{
    background-image: url("png/funko-background.jpg");
    background-size: cover;
}